# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
backend/.env

*.egg-info/
dist/
build/
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / React build output
frontend/myapp/erp-dashboard/dist/
frontend/myapp/build/

# Logs
*.log
uvicorn.err.log
uvicorn.out.log
vite.err.log
vite.out.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
